* {
    box-sizing: border-box;
}

body {
    background-color: white;
    color: #221811;
    font-family: Tahoma, Arial, sans-serif;
    margin: 0;
    /* font-family: 'Roboto Mono', monospace; */
}

#wrapper {
    background-color: #231814;
    padding: 0;
}

header {
    background-color: silver;
    background-image: url(saliimages/assinie.jpg);
    background-repeat: no-repeat;
    color: #231814;
    height: 128px;
    padding-left: 105px;
    padding-top: 5px;
    padding-bottom: 5px;
}

/* body {
    font-family: 'Roboto Mono', monospace;
} */

header a {
    text-decoration: none;
}

header a:link {
    color: #231814;
}

header a:visited {
    color: #231814;
}

header a:hover {
    color: blue;
}

h1 {
    font-size: 2em;
}

h2 {
    color: #8C3826;
}

h3,
dt {
    color: #8C3826;
}

h4 {
    background-color: #D2B48C;
    font-size: 1.2em;
    padding-left: .5em;
    padding-bottom: 0;
    text-transform: uppercase;
    border-bottom: 1px solid #221811;
    clear: left;
}

nav {
    text-align: left;
    font-size: 1.5em;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
}

nav a {
    text-decoration: none;
}

.nav-item a {
    display: block;
    padding: 12px 16px;
}

nav a:link {
    color: #FEF6C2;
}

nav a:visited {
    color: #FEF6C2;
}

nav a:hover {
    color: #CC9933;
}

nav ul {
    display: flex;
    flex-direction: column;
    font-size: 1.25em;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    border-bottom: 1px solid #FEF6C2;
    padding: .5em 1em;
    width: 100%;
}

main {
    background-color: white;
    display: block;
    padding: 0 0 2em 0;
}

h2,
h3,
h4,
p,
div,
ul,
dl {
    padding-left: 1em;
    padding-right: 1em;
}

main ul {
    padding-left: 2em;
}

.details {
    padding-left: 20%;
    padding-right: 20%;
    overflow: auto;
}

img {
    padding-left: 10px;
    padding-right: 10px;
}

#abidjan {
    height: 300px;
    background-image: url(saliimages/abidjan.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#yamoussoukro {
    height: 300px;
    background-image: url(saliimages/yakro.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#attieke {
    height: 300px;
    background-image: url(saliimages/attieke.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#jacqueville {
    height: 300px;
    background-image: url(saliimages/Jacqueville.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#beachassinieb {
    height: 300px;
    background-image: url(saliimages/beachassinieb.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#mobile {
    display: inline;
}

#desktop {
    display: none;
}

footer {
    background-color: #D2B48C;
    font-size: .60em;
    font-style: italic;
    text-align: center;
    padding-bottom: 1em;
    border-top: 2px solid #8C3826;
}

footer li {
    display: inline;
    margin-right: 1em;
    font-size: 125%;
}

table {
    margin: auto;
    width: 90%;
    border-spacing: 0;
}

th,
td {
    padding: 10px;
}

tr:nth-of-type(odd) {
    background-color: #D2B48E;
}

form {
    display: flex;
    flex-direction: column;
    padding-left: 1em;
    width: 80%;
}

input,
textarea {
    margin-bottom: .5em;
}

.header_top {
    background: none repeat scroll 0 0 #F0F0E9;
}

.contact infos ul li:first-child {
    margin-left: -15px;
    list-style-type: none;
}

.contact infos ul li a {
    font-size: 12px;
    color: #696763;
    font-family: 'Roboto', sans-serif;
    /*  list-style: none; */
}


.contact infos ul li a:hover {
    background: inherit;
    /*  list-style: none; */
}


.social-icons ul li a {
    border: 0 none;
    border-radius: 0;
    color: #696763;
    padding: 1px;
    /* list-style: none; */
}


.social-icons ul li {
    display: inline-block;
    font-size: 50px;
    list-style-type: none;
}

.social-icons ul li a i {
    padding: 11px 15px;
    transition: all 0.9s ease 0s;
    -moz-transition: all 0.9s ease 0s;
    -webkit-transition: all 0.9s ease 0s;
    -o-transition: all 0.9s ease 0s;
    /*  list-style-type: none; */
}

.social-icons ul li a i:hover {
    color: #fff;
    transition: all 0.9s ease 0s;
    -moz-transition: all 0.9s ease 0s;
    -webkit-transition: all 0.9s ease 0s;
    -o-transition: all 0.9s ease 0s;
}


.fa-facebook:hover {
    background: #0083C9;
}

.fa-twitter:hover {
    background: #5BBCEC;
}

.fa-linkedin:hover {
    background: #5bbcec;
}

.social-icons {
    /*  align-items: horizontal; */
    list-style-type: none;
}

@media (min-width: 600px) {
    header {
        padding-left: 0;
        text-align: center;
    }

    h1 {
        font-size: 3em;
    }

    nav ul {
        flex-flow: row nowrap;
        justify-content: space-around;
    }

    nav li {
        border-bottom: none;
    }

    #abidjan {
        background-image: url(saliimages/abidjan.jpg);
        height: 50vh;
    }

    #yamoussoukro {
        background-image: url(saliimages/yakro.jpg);
    }

    #attiekea {
        background-image: url(saliimages/attiekea.jpg);
    }

    #flow {
        display: flex;
        flex-direction: row;
    }

    #mobile {
        display: none;
    }

    #desktop {
        display: inline;
    }

    .details {
        display: flex;
        flex-direction: row;
    }

    h4 {
        margin-left: 10%;
        margin-right: 10%;
    }

    form {
        width: 40%;
        display: grid;
        grid-gap: 1em;
        gap: 1em;
        grid-template-columns: 6em 1fr;
    }

    input[type="submit"] {
        grid-column: 2 / 3;
        width: 9em;
    }

    #jacquevillej {
        background-image: url(saliimages/jacqueville.jpg);
    }

    #beachassinieb {
        height: 300px;
        background-image: url(saliimages/beachassinie.jpg);
    }
}

@media(min-width:1024px) {
    @supports(display: grid) {
        header {
            grid-area: header;
        }

        nav {
            grid-area: nav;
        }

        main {
            grid-area: main;
        }

        footer {
            grid-area: footer;
        }

        #wrapper {
            display: grid;
            grid-template:
                "header header"
                "nav main"
                "footer footer"
                /200px;
        }

        nav ul {
            flex-direction: column;
        }

        header {
            background-image: url(salilogo.png);
        }
    }
}