* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-color: #D2B48C;
    color: #221811;
    font-family: Tahoma, Arial, sans-serif;
}

#wrapper {
    background-color: #231814;
    padding: 0%;
}

header {
    color: #231814;
    background-color: #D2B48C;
    padding: 5px 105px 5px;
    background-image: url(images/cup.jpg);
    background-repeat: no-repeat;
    height: 128px;

}

header a :link {
    text-decoration: none;
    color: #231814;
}

header a :visited {
    color: #231814;

}

header a :hover {
    color: #fef6c2;
}

h1 {
    font-size: 2em;
    font-family: 'Pacifico', cursive;
}

h2 {
    color: #8C3826;
}

h3 {
    text-decoration-color: #8C3826;
}

h4 {
    background-color: #D2B48C;
    font-size: 1.2em;
    padding: 0em 0.5em;
    border-bottom: #221811;
    text-transform: uppercase;
    clear: left;
}

nav {
    text-decoration: none;
}


main {
    padding: 0em 0em 2em;
    display: block;
    background-color: #fef6c2;
}

main h2,
h3,
h4,
p,
div,
dl {
    padding-left: 1em;
    padding-right: 1em;
}

main ul {
    padding-left: 2em;
}

#mobile {
    display: inline;
}

#destop {
    display: none;
}

.details {
    padding-left: 20%;
    padding-right: 20%;
    overflow: auto;
}

img {
    border-style: none;
    max-width: 100%;
    height: auto;
}

#homehero {
    height: 300px;
    background-image: url(images/road.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#heromugs {
    height: 300px;
    background-image: url(images/threemugs.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#heroguitar {
    height: 300px;
    background-image: url(images/guitar.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#leftnav ul {
    font-weight: bold;
    float: left;
    width: 200px;
    margin: 0%;
    padding: 2% 0% 1% 2%;
    list-style-type: none;
    height: 100%;
    position: sticky;
    overflow: auto;
    display: block;
}

nav a {
    text-decoration: none;
}

footer {
    background-color: #D2B48C;
    font-size: .60em;
    font-style: italic;
    text-align: center;
    padding: 1em;
    border-top: solid 2px #8C3826;
}

nav a:link {
    color: #fef6c2;
}

nav a:visited {
    color: #D2B48C;
}

nav a:hover {
    color: #CC9933;
}

nav ul {
    padding-left: 0px;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font: 1.25em;
}

nav li {
    padding: 0.5em 1em;
    width: 100%;
    border-bottom: solid 1px;
}

@media(min-width: 600px) {
    header {
        text-align: center;
        padding-left: 0;
    }

    h1 {
        font-size: 3em;
    }

    nav ul {
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
    }

    nav li {
        border-bottom: none;
    }

    #homehero {
        height: 50vh;
        background-image: url(images/hero.jpg);
    }

    #heromugs {
        background-image: url(images/heromugs.jpg);
    }

    #heroguitar {
        background-image: url(images/heroguitar.jpg);
    }

    #flow {
        flex-direction: row;
    }

    #mobile {
        display: none;
    }

    #destop {
        display: inline;
    }

    #details {
        flex-direction: row;
    }

    h4 {
        margin-left: 10%;
        margin-right: 10%;
    }
}

@media(min-width:1024px) {
    .grid-container {
        display: grid;
        grid-template:
        "header header"
        "nav nav"
        "main main"
        "footer footer"
    }
}

#wrapper {
    display: grid;
    grid-template:
        "header header"
        "nav main"
        "footer footer"
        /200px;
}
nav ul{
    flex-direction: column;
}
header{
    background-image:url(images/coffeelogo.jpg) ;
}